[{rabbit, [
    {loopback_users, []},
    {cluster_nodes, {{"{"}}{{ if printf "/rabbitmq/nodes" | ls }}[{{ range $index, $node := printf "/rabbitmq/nodes/*" | gets }}{{if $index }},{{ end }}'rabbit@{{ $node.Key | base  }}'{{ end }}]{{ else }}[]{{ end }}, disc{{ "}}" }}
]}].